<nav>
  <div class="grid-x grid-padding-x align-middle">
    <div class="cell">
      <a href="/ages" class="button clear">Ages</a>
      <a href="/drugs" class="button clear">Drugs</a>
      <a href="/frequency" class="button clear">Frequencies</a>
    </div>
  </div>
</nav>
